<div class="header bg-gradient-magenta pb-8 pt-5 pt-md-8">
  <div class="container-fluid mb-1">
    <div class="row">
      <div class="col">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body text-center">
            <a routerLinkActive="active" [routerLink]="'/supervisor/dmc/create'" class="btn btn-primary">Create Digital Medical Chit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-check"></i>
                  </div>
                  <div><small>Claimable</small></div>
                </div>
              </div>
              <p class="mt-0 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-address-card"></i> XXXX4321</span>
                <!--                <span class="text-nowrap">8 Trivex, Singapore</span>-->
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-times"></i>
                  </div>
                  <div><small>Utilised</small></div>
                </div>
              </div>
              <p class="mt-0 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-address-card"></i> XXXX4321</span>
                <!--                <span class="text-nowrap">8 Trivex, Singapore</span>-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
