<div class="header bg-gradient-magenta pb-8 pt-3 pt-md-6">
  <div class="container-fluid mb-1">
    <div class="row">
      <div class="col">
        <div class="header-body bg-white p-5 border-radius-5 text-center">
          <h3 class="text-blue">Successfully created!</h3>
          Please ask
          <br>
          {{ beneficiaryName }}
          <br>
          To proceed to the<br>
          tele-wellness station with<br>
          <strong><code>Identity Card</code></strong>
<!--          <br>-->
<!--          Or-->
<!--          <br>-->
<!--          Please copy and send this link-->
<!--          <br>-->
<!--          #linkwithinstant access-->
        </div>
      </div>
    </div>
  </div>
</div>
