option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public

container_commands:
  command-01:
    command: /bin/cp .ebextensions/resources/.htaccess /var/app/ondeck/public/.htaccess
    leader_only: true

  command-02:
    command: /usr/bin/php /var/app/ondeck/bin/console doctrine:schema:update --force --dump-sql
    leader_only: true
