Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-ap-southeast-1-073853278715"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private JWT key
  "/var/tmp/_jwt_app_secret_keys/private.pem":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-ap-southeast-1-073853278715.s3-ap-southeast-1.amazonaws.com/_app_secret_keys/jwt_magenta-apps/private.pem

  # Public JWT key
  "/var/tmp/_jwt_app_secret_keys/public.pem":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-ap-southeast-1-073853278715.s3-ap-southeast-1.amazonaws.com/_app_secret_keys/jwt_magenta-apps/public.pem

container_commands:
  command-cp_jwt-00:
    command: /bin/rm -f -R  /var/app/current/config/jwt/*; /bin/mkdir /var/app/staging/var/cache/image; /bin/chown webapp:webapp /var/app/staging/var/cache/image;  /bin/chmod 777 /var/app/staging/var/cache/image;

  command-cp_jwt-01:
    command: /bin/cp /var/tmp/_jwt_app_secret_keys/* /var/app/staging/config/jwt/

  command-cp_jwt-02:
    command: /bin/mkdir /var/app/staging/config/jwt/*; /bin/chown webapp:webapp /var/app/staging/config/jwt/*;  /bin/chmod 777 /var/app/staging/config/jwt/*;

