<div class="header bg-gradient-magenta py-3 py-lg-4">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <!-- Page content -->
  <div class="container pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent">
            <div class="text-muted text-center mt-2"><h2>Create Telewellness Chit</h2></div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form *ngIf="!telemed.isLoading" #telemedForm="ngForm" role="form">
              <div *ngIf="!isNricReady" class="form-group">
                <div *ngIf="loading" class="text-center">
                  <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="NRIC/FIN Number (*)" type="text" required="required"
                         name="member-nric" [(ngModel)]="telemed.beneficiaryNric" #beneficiaryNric="ngModel"/>
                </div>
                <div *ngIf="beneficiaryNric.invalid && (beneficiaryNric.dirty || beneficiaryNric.touched)"
                     class="alert alert-danger">
                  <div *ngIf="beneficiaryNric.errors.required">
                    NRIC/FIN is required.
                  </div>
                </div>
              </div>
              <div *ngIf="isNricReady">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <div class="ipt-content">{{telemed.beneficiaryNric}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name (*)" type="text" required="required"
                           name="member-name" [(ngModel)]="telemed.beneficiaryName" #beneficiaryName="ngModel">
                  </div>

                  <div *ngIf="beneficiaryName.invalid && (beneficiaryName.dirty || beneficiaryName.touched)"
                       class="alert alert-danger">

                    <div *ngIf="beneficiaryName.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="beneficiaryName.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="beneficiaryName.errors.forbiddenName">
                      Name cannot be Bob.
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Hand phone Number (*)" type="text" required="required"
                           name="member-phone" [(ngModel)]="telemed.beneficiaryPhone" #beneficiaryPhone="ngModel">
                  </div>

                  <div *ngIf="beneficiaryPhone.invalid && (beneficiaryPhone.dirty || beneficiaryPhone.touched)"
                       class="alert alert-danger">

                    <div *ngIf="beneficiaryPhone.errors.required">
                      Phone is required.
                    </div>
                    <div *ngIf="beneficiaryPhone.errors.minlength">
                      Phone must be at least 4 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Medicine delivery address (*)" type="text" required="required"
                           name="member-med-delivery-address" [(ngModel)]="telemed.beneficiaryMedDeliveryAddress" #beneficiaryMedDeliveryAddress="ngModel">
                  </div>

                  <div *ngIf="beneficiaryMedDeliveryAddress.invalid && (beneficiaryMedDeliveryAddress.dirty || beneficiaryMedDeliveryAddress.touched)"
                       class="alert alert-danger">

                    <div *ngIf="beneficiaryMedDeliveryAddress.errors.required">
                      Address is required.
                    </div>
                    <div *ngIf="beneficiaryMedDeliveryAddress.errors.minlength">
                      Address must be at least 4 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-sound-wave"></i></span>
                    </div>
                    <ng-select (change)="onProductChange($event)" [items]="telemed.productOptions"
                               placeholder="Please select a Product/Service"
                               bindLabel="name"
                               autofocus
                               bindValue="id"
                               required="required"
                               name="product-id"
                               [(ngModel)]="telemed.productId"
                               #productId="ngModel"
                    >
                    </ng-select>
                  </div>

                  <div *ngIf="productId.invalid && (productId.dirty || productId.touched)"
                       class="alert alert-danger mt-1">
                    <div *ngIf="productId.errors.required">
                      Product is required.
                    </div>
                  </div>

                </div>

<!--                <div *ngIf="!showMerchantSelect" class="form-group text-center">-->
<!--                  <button (click)="showMerchantSelect = true" type="button"-->
<!--                          class="btn-limit-mc btn btn-outline-primary">-->
<!--                    <input type="checkbox"/> Limit this-->
<!--                    medical chit to only certain centres-->
<!--                  </button>-->
<!--                </div>-->

                <div *ngIf="showMerchantSelect" class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-building"></i></span>
                    </div>
                    <ng-select *ngIf="telemed.merchantOptions.length >= 50" [items]="telemed.merchantOptions$ | async"
                               bindLabel="name"
                               [addTag]="false"
                               [multiple]="true"
                               [hideSelected]="true"
                               [trackByFn]="trackByFn"
                               [minTermLength]="2"
                               [loading]="telemed.merchantLoading"
                               typeToSearchText="Please enter 2 or more characters"
                               [typeahead]="telemed.merchantOptionInput$"
                               [(ngModel)]="telemed.merchants"
                               name="merchants"
                    >
                    </ng-select>
                    <ng-select *ngIf="telemed.merchantOptions.length < 50" [items]="telemed.merchantOptions"
                               placeholder="Select applicable centres"
                               [multiple]="true"
                               bindLabel="name"
                               autofocus
                               bindValue="id"
                               [(ngModel)]="telemed.merchantIds" name="merchant-ids">
                      <!--                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">-->
                      <!--                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}-->
                      <!--                    </ng-template>-->
                    </ng-select>
                  </div>
                </div>
                <!--              <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small> </div>-->
                <div class="row my-4">
                  <!--                <div class="col-12">-->
                  <!--                  <div class="custom-control custom-control-alternative custom-checkbox">-->
                  <!--                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">-->
                  <!--                    <label class="custom-control-label" for="customCheckRegister">-->
                  <!--                      <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>-->
                  <!--                    </label>-->
                  <!--                  </div>-->
                  <!--                </div>-->
                </div>
              </div>
              <div class="text-center">
                <a routerLink="/supervisor/telemed/list" class="btn btn-default mt-4">Cancel</a>
                <button *ngIf="!isNricReady" [disabled]="telemedForm.invalid" (click)="handleNric()" type="button"
                        class="btn btn-primary mt-4">Next >>
                </button>
                <button *ngIf="isNricReady" type="button" class="btn btn-primary mt-4" [disabled]="telemedForm.invalid"
                        (click)="createTelemed()">
                  Create
                </button>
              </div>
            </form>
            <div *ngIf="telemed.isLoading" class="text-center">
              <h3>Please wait just a heart beat!</h3>
              <div class="lds-heart">
                <div></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
