<div class="header bg-transparent py-5 py-lg-6">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
<!--          <h1 class="text-white">Welcome Supervisor!</h1>-->
<!--          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent">
          <div class="text-center text-primary">
            <a class="bg-transparent border-radius-5" href="https://www.magenta-wellness.com">
              <img height="100" src="assets/img/brand/purple.png"/>
            </a>
            <h1>Welcome Supervisor!</h1>
          </div>
          <div class="text-muted text-center mt-2">Sign in using your created credentials</div>
<!--          <div class="btn-wrapper text-center">-->
<!--            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">-->
<!--              <span class="btn-inner&#45;&#45;icon"><img src="../assets/img/icons/common/github.svg"></span>-->
<!--              <span class="btn-inner&#45;&#45;text">Github</span>-->
<!--            </a>-->
<!--            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">-->
<!--              <span class="btn-inner&#45;&#45;icon"><img src="../assets/img/icons/common/google.svg"></span>-->
<!--              <span class="btn-inner&#45;&#45;text">Google</span>-->
<!--            </a>-->
<!--          </div>-->
        </div>
        <div class="card-body px-lg-5 py-lg-5">
<!--          <div class="text-center text-muted mb-4">-->
<!--            <small>Or sign in with credentials</small>-->
<!--          </div>-->
          <div *ngIf="!loading && errorMessage.length > 0" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
          <div *ngIf="loading" class="text-center">
            <h3>Please wait just a heart beat!</h3>
            <div class="lds-heart"><div></div></div>
          </div>
          <form *ngIf="!loading" role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-atom"></i></span>
                </div>
                <input #companyCode="ngModel" [(ngModel)]="credentials.companyCode" class="form-control" placeholder="User Code" type="text" name="company-code">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input #username="ngModel" [(ngModel)]="credentials.username" class="form-control" placeholder="Username" type="text" name="username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input #password="ngModel" [(ngModel)]="credentials.password" class="form-control" placeholder="Password" type="password" name="password">
              </div>
            </div>
<!--            <div class="custom-control custom-control-alternative custom-checkbox">-->
<!--              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">-->
<!--              <label class="custom-control-label" for=" customCheckLogin">-->
<!--                <span class="text-muted">Remember me</span>-->
<!--              </label>-->
<!--            </div>-->
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="login()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
<!--      <div class="row mt-3">-->
<!--        <div class="col-6">-->
<!--          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>-->
<!--        </div>-->
<!--        <div class="col-6 text-right">-->
<!--          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
