<div class="header bg-gradient-magenta py-3 py-lg-4">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <!-- Page content -->
  <div class="container pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent">
            <div class="text-muted text-center mt-2"><h2>Create Digital Medical Chit</h2></div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form #dmcForm="ngForm" role="form">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="NRIC/FIN Number (*)" type="text" required="required"
                         name="member-nric" [(ngModel)]="dmc.memberNric" #memberNric="ngModel" />
                </div>
                <div *ngIf="memberNric.invalid && (memberNric.dirty || memberNric.touched)"
                     class="alert alert-danger">
                  <div *ngIf="memberNric.errors.required">
                    NRIC/FIN is required.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  <input class="form-control" placeholder="Name (*)" type="text" required="required"
                         name="member-name" [(ngModel)]="dmc.memberName" #memberName="ngModel">
                </div>
                <div *ngIf="memberName.invalid && (memberName.dirty || memberName.touched)"
                     class="alert alert-danger">

                  <div *ngIf="memberName.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="memberName.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                  <div *ngIf="memberName.errors.forbiddenName">
                    Name cannot be Bob.
                  </div>

                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-sound-wave"></i></span>
                  </div>
                  <ng-select [items]="products"
                             bindLabel="name"
                             autofocus
                             bindValue="id"
                             required="required"
                             name="product-id"
                             [(ngModel)]="dmc.productId"
                             #productId="ngModel"
                  >
                  </ng-select>
                </div>
                <div *ngIf="productId.invalid && (productId.dirty || productId.touched)"
                     class="alert alert-danger mt-1">
                  <div *ngIf="productId.errors.required">
                    Product is required.
                  </div>
                </div>
              </div>

              <div *ngIf="!showMerchantSelect" class="form-group text-center">
                <button (click)="showMerchantSelect = true" type="button" class="btn-limit-mc btn btn-outline-primary">
                  <input type="checkbox"/> Limit this
                  medical chit to only certain centres
                </button>
              </div>

              <div *ngIf="showMerchantSelect" class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-building"></i></span>
                  </div>
                  <ng-select [items]="merchants"
                             placeholder="Select applicable centres"
                             [multiple]="true"
                             bindLabel="name"
                             autofocus
                             bindValue="id"
                             [(ngModel)]="selectedCemtres" name="merchant-ids">
                    <!--                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">-->
                    <!--                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}-->
                    <!--                    </ng-template>-->
                  </ng-select>
                </div>
              </div>
              <!--              <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small> </div>-->
              <div class="row my-4">
                <!--                <div class="col-12">-->
                <!--                  <div class="custom-control custom-control-alternative custom-checkbox">-->
                <!--                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">-->
                <!--                    <label class="custom-control-label" for="customCheckRegister">-->
                <!--                      <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>-->
                <!--                    </label>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4" [disabled]="dmcForm.invalid">Create
                  MC {{dirty}}</button>
                <a routerLink="/supervisor/dmc/list" class="btn btn-default mt-4">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
