<div class="header bg-gradient-magenta py-3 py-lg-4">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <!-- Page content -->
  <div class="container pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent">
            <div class="text-muted text-center mt-2"><h2>Create Digital Medical Chit</h2></div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form *ngIf="!dmc.isLoading" #dmcForm="ngForm" role="form">
              <div *ngIf="!isNricReady" class="form-group">
                <div *ngIf="loading" class="text-center">
                  <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="NRIC/FIN Number (*)" type="text" required="required"
                         name="member-nric" [(ngModel)]="dmc.beneficiaryNric" #beneficiaryNric="ngModel"/>
                </div>
                <div *ngIf="beneficiaryNric.invalid && (beneficiaryNric.dirty || beneficiaryNric.touched)"
                     class="alert alert-danger">
                  <div *ngIf="beneficiaryNric.errors.required">
                    NRIC/FIN is required.
                  </div>
                </div>
              </div>
              <div *ngIf="isNricReady">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-badge"></i></span>
                    </div>
                    <div class="ipt-content">{{dmc.beneficiaryNric}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name (*)" type="text" required="required"
                           name="member-name" [(ngModel)]="dmc.beneficiaryName" #beneficiaryName="ngModel">
                  </div>
                  <div *ngIf="beneficiaryName.invalid && (beneficiaryName.dirty || beneficiaryName.touched)"
                       class="alert alert-danger">

                    <div *ngIf="beneficiaryName.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="beneficiaryName.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="beneficiaryName.errors.forbiddenName">
                      Name cannot be Bob.
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-sound-wave"></i></span>
                    </div>
                    <ng-select (change)="onProductChange($event)" [items]="dmc.productOptions"
                               placeholder="Please select a Product/Service"
                               bindLabel="name"
                               autofocus
                               bindValue="id"
                               required="required"
                               name="product-id"
                               [(ngModel)]="dmc.productId"
                               #productId="ngModel"
                    >
                    </ng-select>
                  </div>
                  <div *ngIf="productId.invalid && (productId.dirty || productId.touched)"
                       class="alert alert-danger mt-1">
                    <div *ngIf="productId.errors.required">
                      Product is required.
                    </div>
                  </div>
                </div>
                <div *ngIf="!showMerchantSelect" class="form-group text-center">
                  <button (click)="showMerchantSelect = true" type="button"
                          class="btn-limit-mc btn btn-outline-primary">
                    <input type="checkbox"/> Limit this
                    medical chit to only certain centres
                  </button>
                </div>
                <div *ngIf="showMerchantSelect" class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-building"></i></span>
                    </div>
                    <ng-select *ngIf="dmc.merchantOptions.length >= 50" [items]="dmc.merchantOptions$ | async"
                               bindLabel="name"
                               [addTag]="false"
                               [multiple]="true"
                               [hideSelected]="true"
                               [trackByFn]="trackByFn"
                               [minTermLength]="2"
                               [loading]="dmc.merchantLoading"
                               typeToSearchText="Please enter 2 or more characters"
                               [typeahead]="dmc.merchantOptionInput$"
                               [(ngModel)]="dmc.merchants"
                               name="merchants"
                    >
                    </ng-select>
                    <ng-select *ngIf="dmc.merchantOptions.length < 50" [items]="dmc.merchantOptions"
                               placeholder="Select applicable centres"
                               [multiple]="true"
                               bindLabel="name"
                               autofocus
                               bindValue="id"
                               [(ngModel)]="dmc.merchantIds" name="merchant-ids">
                      <!--                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">-->
                      <!--                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}-->
                      <!--                    </ng-template>-->
                    </ng-select>
                  </div>
                </div>
                <!--              <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small> </div>-->
                <div class="row my-4">
                  <!--                <div class="col-12">-->
                  <!--                  <div class="custom-control custom-control-alternative custom-checkbox">-->
                  <!--                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">-->
                  <!--                    <label class="custom-control-label" for="customCheckRegister">-->
                  <!--                      <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>-->
                  <!--                    </label>-->
                  <!--                  </div>-->
                  <!--                </div>-->
                </div>
              </div>
              <div class="text-center">
                <a routerLink="/supervisor/dmc/list" class="btn btn-default mt-4">Cancel</a>
                <button *ngIf="!isNricReady" [disabled]="dmcForm.invalid" (click)="handleNric()" type="button"
                        class="btn btn-primary mt-4">Next >>
                </button>
                <button *ngIf="isNricReady" type="button" class="btn btn-primary mt-4" [disabled]="dmcForm.invalid"
                        (click)="createDmc()">
                  Create
                </button>
              </div>
            </form>
            <div *ngIf="dmc.isLoading" class="text-center">
              <h3>Please wait just a heart beat!</h3>
              <div class="lds-heart">
                <div></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
