<div class="header bg-gradient-magenta pb-8 pt-3 pt-md-5">
  <div class="container-fluid mb-1">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 col-xl-3 offset-xl-4">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body text-center">
            <div class="form-group">
              <h3>Filter by</h3>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input (change)="onFilterChange('name', $event )" placeholder="Name" type="text" class="form-control"/>
              </div>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input (change)="onFilterChange('nric', $event )" placeholder="NRIC/FIN" type="text"
                       class="form-control"/>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <div *ngIf="loading">
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body text-center">
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card stats -->
      <div *ngIf="!loading" class="row">
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Out-patient Care Plan A</h5>
                  <span class="h2 font-weight-bold mb-0">Kenneth Yap</span>
                </div>
                <div class="col-auto text-center">
                  <button type="button" class="btn btn-primary">
                    <i class="fas fa-check"></i>
                    Redeem
                  </button>
                </div>
              </div>
              <div class="mt-0 mb-0 text-muted text-sm">
                <div class="text-primary mr-2"><i class="fa fa-address-card"></i> 079087008877</div>
                <div class="text-nowrap"><i class="fa fa-building"></i> Magenta Wellness</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
